:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  height: 100%; /* Important for footer */
  margin: 0;
}

body{/* Important for footer */
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

  .blockquote-footer{
    background-color: white;
    color: black;
  }
  .accordion-item{
    margin: 10px;
    border-radius: 10px;
  }
  .accordion-header{
    border-radius: 10px;
  }

  .accordion-button{
    border-radius: 10px;
  }
  .accordion-collapse{
    border-radius: 10px;
  }

  header{
    color: white;
    background-color: #e6e5e5;
  }

  header .custom-nav-link{
    color: #605d5d;
    text-decoration: none;
    padding-right: 15px ;
  }

  header .custom-nav-link:hover{
    color: black;
  }

header .custom-nav-link.active{
  color: black;
}

footer {/* Important for footer */
  margin-top:auto;
  width: 100%;
}
  .btn-success{
    background-color: greenyellow;
    color: black;
    font-weight: bold;
  }
  .btn-success:hover{
    transform: scale(1.05);
    background-color: greenyellow;
    color: black;
    font-weight: bold;
  }

  .btn-primary{
    font-weight: bold;
  }

  .navbar-brand{
    color: black!important;
    /* 2px width, black color */
     /* Text color */
  }

  .btn-primary:hover{
    transform: scale(1.05);
  }

  .btn-danger{
    font-weight: bold;
  }

.btn-danger:hover{
  transform: scale(1.05);
  font-weight: bold;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

input{
  border: 2px solid black!important;
}

textarea{
  border: 2px solid black!important;
}

  .navbar-toggler{
    background-color: white;
    border: 1px solid black;
  }

  .card{
    border: 1px solid black;
  }


footer{
    h5, .copyright{
      color: black;
    }
    a{
      text-decoration: none;
    }
    color: black;
    background-color:#e6e5e5;
  }

@media (prefers-color-scheme: dark) {
  .text-muted {
    color: black!important;
  }
  .title-below{
    color: white !important;
  }

  .navbar-toggler{
    background-color: white;
    border: 1px solid black;
  }

  .navbar-brand{
    color:yellowgreen!important;
  }

  html {
    color-scheme: dark;
  }
  header{
    color: white;
    background-color: #1b1b1b;
  }

  header .custom-nav-link{
    color: white;
    text-decoration: none;
    padding-right: 15px ;
  }

  header .custom-nav-link:hover{
    color: greenyellow;
  }

  header .custom-nav-link.active{
    color: greenyellow;
  }

  .custom-nav-link.active{
    color: greenyellow;
  }

  body{
    color: white;
    background-color: black;
  }

  .nutrition-tips{
    color: black;
  }

  footer{
    h5, .copyright{
      color: greenyellow;
    }
    a{
      text-decoration: none;
    }
    color: white;
    background-color: #1b1b1b;
  }
}
